body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px 0;
    background-color: #fff;
}

section#upload form {
    display: flex;
    flex-direction: column;
}

section#upload input,
section#upload button {
    margin: 10px 0;
    padding: 10px;
}

section#results #result-content {
    margin-top: 20px;
}

section#contact form {
    display: flex;
    flex-direction: column;
}

section#contact label {
    margin: 5px 0;
}

section#contact input,
section#contact textarea,
section#contact button {
    margin: 10px 0;
    padding: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
